<?xml version="1.0"?>

<launch>
 	
	<group ns="cf1">		
		 <node pkg="cfswarm" type="controller" name="controller" output="screen"/>		
	</group>

	<group ns="cf2">		
		 <node pkg="cfswarm" type="controller" name="controller" output="screen"/>		
	</group>

	<group ns="cf3">		
		 <node pkg="cfswarm" type="controller" name="controller" output="screen"/>		
	</group>

	<group ns="cf4">		
		 <node pkg="cfswarm" type="controller" name="controller" output="screen"/>		
	</group>

</launch>
