<?xml version="1.0"?>

<launch>
	<rosparam command="load" 		    file="$(find cfswarm)/config/namespaces.yaml" />
	<rosparam command="load" 		    file="$(find cfswarm)/config/limits.yaml" />	
    <!-- <rosparam command="load" 		file="$(find cfswarm)/config/map.yaml" /> -->

    <param name="gamma"			    value="0.1" />
    <param name="threshold"			    value="50.0" /> <!-- comms range in meters-->
    <param name="avoidRadius"			value="1.0" />  <!-- avoidance radius -->
    
    <param name="miu"			value="2.0" /> <!-- Levy  parameter 	-->
    <param name="rho"			value="0.0" /> <!-- CRW  parameter 	-->
    <param name="Sfun"			value="0.0" /> <!-- Saturation function (0 means no saturation) 	-->
    
    <param name="xvel"			value="1" /> <!-- forward vel 	 	-->
        
    <include file="$(find cfswarm)/launch/cfswarm.launch" />
    <!-- <include file="$(find crazyflie_gazebo)/launch/max_cf_sitl.launch" />  -->
  
    <!--<node pkg="cfswarm"   type="getAverageMapServer.py" 		name="getAverageMapServer" 		output="screen"/> -->
	<node pkg="cfswarm"   type="firefly" 						name="firefly" 						output="screen"/> 
 
  	<node pkg="rosbag" type="record" name="uav_pose" output="screen"
			args="record -O $(find cfswarm)/bag/test
				/SwarmPose "/> 
	
</launch>
